* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
    font-family: 'poppins', sans-serif;

}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, ease;
    z-index: 100;
}

.nav-links {
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


.login-btn {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #e68a00;
}

.scrolled {
    background-color: #222;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: white;
    text-align: center;
    padding: 20px;
}

.products-section {
    padding:80px 40px;
    background-color: #f5f5f5;
    text-align: center;
}

.products-section h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product-cart{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: 0.2s ease;
}

.product-cart:hover {
    transform: translateY(-5px);
}

.product-cart img {
    width: 100%;
    border-radius: 10px;
}

.product-cart h3 {
    margin: 15px 0 10px;
    color: #333;
}

.product-cart p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.product-cart .price {
    font-weight: bold;
    color: #000dff;
    margin-bottom: 10px;
}

.product-cart button {
    background-color: #000dff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-cart button:hover {
    background-color: #3333ff;
}

.registerForm {
  max-width: 400px;
  margin: 80px auto;
  width: 90%; margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.418);
}

.registerForm legend {
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}

input:focus {
  outline: none;
}

input {
width: 100%;
padding: 10px;
border: 2px solid #ccc;
border-radius: 8px;
transition: border-color 0.3s ease, background-color 0.3s ease;
}

input.error {
  border-color: red;
  background-color: #fdecea;
}

input.correct {
  border-color: green;
  background-color: #e8f5e9;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}

.password-container {
  position: relative;
  width: 100%;
  display: block;
}

.password-container input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.password-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #777;
  z-index: 2;
}

.error-message {
  display: block;
  color: red;
  font-size: 0.85rem;
  margin-top: 6px;
  min-height: 18px;
}

.regist-btn {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.418);

}


input.error {
  border-color: red;
  background-color: #fdecea;
}

input.correct {
  border-color: green;
  background-color: #e8f5e9;
}

.success-message {
  color: green;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}